<div class="container mt-4">
  <h2 class="mb-4 border-bottom border-3 border-danger">Pessoas</h2>

  <div class="d-flex justify-content-end mb-2">
    <button type="button" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
  </div>

<table class="table table-bordered table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Estoque</th>
      <th>Categoria</th>
      <th class="text-center col-acoes">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of lista">
      <td>{{ produto.descricao }}</td>
      <td>R$ {{ produto.valor | number:'1.2-2' }}</td>
      <td>{{ produto.estoque }}</td>
      <td>{{ obterDescCategoria(produto.idCategoria) }}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-warning me-2" (click)="editar(produto.id)">Editar</button>
        <button class="btn btn-sm btn-danger" (click)="excluir(produto.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
